$theme: #026f83;
$secondary: #ce662e;
$dark: rgb(22, 22, 22);
$light: #FBFBF8;
$gradient: #8ed1dc;
$red: #8ed1dc;
$lghtred: #760000;
$lghtgreen: #ffe799;
$lightRgbGrn: rgba(66, 245, 126, 0.5);
$lightRgbGrn2: #5cb85c;
$darkOpacity: rgba(0, 0, 0, 0.2);
$grey: #abb4b8;
$darkGrey: #858e93;
